.locations-container{"ng-controller" => "LocationsCtrl as locations"}
  %table.table.table-striped.table-bordered.table-condensed{:datatable => "", "dt-columns" => "locations.dtColumnsLocations", "dt-options" => "locations.dtOptionsLocations",  "dt-instance"=>"locations.locationTable"}
