#navbar{'ng-include'=>"'navbar/show.html'"}
%alerts
.sales-tracker-container
  .row
    .col-md-12.text-center
      %h1{style: 'color:white; font-size:30px;'} Upstart Sales Tracker
      %button.btn.btn-primary.customer-form-toggle.hidden-cust-form#show-customer-form{style: "position:absolute; top:0; left:30px;", :tabindex=>1} New Customer
      .hidden-cust-form.input-group{style:'width:400px;position:absolute; top:0px; left:30px; display:none;'}
        %input.form-control#new-customer-name{"aria-describedby"=>"new-customer-name", :placeholder=>"Customer Name", :type => "text", :name => "newCustomerName", "ng-model"=>"newCustomerName", "customer-name-escape"=>true}
        %div.input-group-btn
          %button#new-customer-submit.btn.btn-primary{"ng-click"=>"addCustomer()", :type=>"submit"}
            &nbsp;Submit&nbsp;
          %button#cancel-customer-name.btn.btn-danger.customer-form-toggle{"aria-label" => 'cancel'}
            %span.glyphicon.glyphicon-remove
      %input.form-control#searchSales{:placeholder => "Search", :type => "text", "ng-model" => "searchText", style: "position:absolute; top:0; right:30px; width:200px;", :tabindex=>2}
  .row
    .col-md-12
      .text-center.equal-columns-container.customer-navigation{:tabindex=>3}
        .col-xs-3.equal-column.well
          %h2 Idea
          #idea-sort.ui-sortable.connected-sortable
            .customers_container.customer-navigation-stop{"ng-repeat" => "customer in states['idea'] | filter:searchText | orderBy:sort_position", "id"=>"{{customer.id}}", :tabindex=>"-1", "ng-focus"=>'setFocus(customer)'}
              .panel.panel-customer.text-left
                .panel-heading
                  %h3.panel-title{"ng-click" => "toggleModal(customer)", style: 'display:inline; cursor:pointer;'}
                    {{customer.name}}
                  %span.pull-right.toggle-accordion{style:'cursor:pointer;'}
                    show
                .panel-body{:style => "display:none;"}
                  Panel content
        .col-xs-3.equal-column.well
          %h2 Contact
          #contacted-sort.ui-sortable.connected-sortable
            .customers_container.customer-navigation-stop{"ng-repeat" => "customer in states['contacted'] | filter:searchText | orderBy:sort_position", "id"=>"{{customer.id}}", :tabindex=>"-1", "ng-focus"=>'setFocus(customer)'}
              .panel.panel-customer.text-left
                .panel-heading
                  %h3.panel-title{"ng-click" => "toggleModal(customer)", style: 'display:inline; cursor:pointer;'}
                    {{customer.name}}
                  %span.pull-right.toggle-accordion{style:'cursor:pointer;'}
                    show
                .panel-body{:style => "display:none;"}
                  Panel content
        .col-xs-3.equal-column.well
          %h2 Negotiation
          #negotiation-sort.ui-sortable.connected-sortable
            .customers_container.customer-navigation-stop{"ng-repeat" => "customer in states['negotiation'] | filter:searchText | orderBy:sort_position", "id"=>"{{customer.id}}", :tabindex=>"-1", "ng-focus"=>'setFocus(customer)'}
              .panel.panel-customer.text-left
                .panel-heading
                  %h3.panel-title{"ng-click" => "toggleModal(customer)", style: 'display:inline; cursor:pointer;'}
                    {{customer.name}}
                  %span.pull-right.toggle-accordion{style:'cursor:pointer;'}
                    show
                .panel-body{:style => "display:none;"}
                  Panel content
        .col-xs-3.equal-column.well
          %h2 Active
          #active-sort.ui-sortable.connected-sortable
            .customers_container.customer-navigation-stop{"ng-repeat" => "customer in states['active'] | filter:searchText | orderBy:sort_position", "id"=>"{{customer.id}}", :tabindex=>"-1", "ng-focus"=>'setFocus(customer)'}
              .panel.panel-customer.text-left
                .panel-heading
                  %h3.panel-title{"ng-click" => "toggleModal(customer)", style: 'display:inline; cursor:pointer;'}
                    {{customer.name}}
                  %span.pull-right.toggle-accordion{style:'cursor:pointer;'}
                    show
                .panel-body{:style => "display:none;"}
                  Panel content
  .row.tab-bottom
    .col-md-12
      .col-md-3
        .tab-background
      .col-md-3
        .tab-background
      .col-md-3
        .tab-background
      .col-md-3
        .tab-background
  %br
  %br




  %modal{:title=>'test', :visible=>"$parent.showModal", :tabindex=>"-1"}
    .modal-header
      %button.close{"aria-hidden"=>"true", "data-dismiss"=>"modal", :type=>"button", 'ng-click'=>'hideModal()', :tabindex=>"-1"} ×
      %h2.modal-title
        {{selectedCustomer.name}}
    .modal-body

      %ul.nav.nav-tabs.customer-tabs-container{:tabindex=>"0"}
        %li{:role=>"customer_details", 'ng-click'=>'detailsNav("contacts")', 'ng-class'=>'{active: details_category=="contacts"}'}
          %a.customer-tab-stop{:href=>"#", :tabindex=>"-1"} Contacts
        %li{:role=>"customer_details", 'ng-click'=>'detailsNav("locations")', 'ng-class'=>'{active: details_category=="locations"}'}
          %a.customer-tab-stop{:href=>"#", :tabindex=>"-1"} Locations
        %li{:role=>"customer_details", 'ng-click'=>'detailsNav("communications")', 'ng-class'=>'{active: details_category=="communications"}'}
          %a.customer-tab-stop{:href=>"#", :tabindex=>"-1"} Communications Log
        %li{:role=>"customer_details", 'ng-click'=>'detailsNav("comments")', 'ng-class'=>'{active: details_category=="comments"}'}
          %a.customer-tab-stop{:href=>"#", :tabindex=>"-1"} Comments


      .customer-details{'ng-show'=>'details_category == "contacts"'}
        #contacts{'ng-include'=>"'sales/_contacts.html'"}
      .customer-details{'ng-show'=>'details_category == "locations"'}
        #locations{'ng-include'=>"'sales/_locations.html'"}
      .customer-details{'ng-show'=>'details_category == "communications"'}
        #settings{'ng-include'=>"'sales/_communications.html'"}
      .customer-details{'ng-show'=>'details_category == "comments"'}
        #settings{'ng-include'=>"'sales/_comments.html'"}


