.navbar-containter{'ng-controller' => "navCtrl"}
  %shortcut
  %nav.navbar.navbar-default.navbar-tabs-container{:tabindex => "1"}
    .container-fluid
      .navbar-header
        %a.navbar-brand.navbar-tab-stop{:href => "/", :tabindex => "-1"} Upstart
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a.navbar-tab-stop{:href => "/", :tabindex => "-1"} Sales
          %li
            %a.navbar-tab-stop{:href => "/", :tabindex => "-1"} Customers
        %ul.nav.navbar-nav.navbar-right
          %li{'ng-if' => "hasRole('admin')"}
            %a.navbar-tab-stop{:href => "/admin", :tabindex => "-1"} Admin
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button", :tabindex => "-1"}
              {{user.email}}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{href: '/settings'} Settings
              %li
                %a{'ng-click' => 'logout()', style: 'margin-right:50px;'} Logout
      .navbar-collapse
    .container-fluid

