@import 'animate';

body {
  background:#2F3033 !important;
  padding:0 !important;
  margin:0 !important;
}

 input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide{
}

.modal-body{
  min-height:550px;
}
.modal-dialog{
  width:950px;
}

nav {
  position:absolute;
  top:-20px;
  margin-bottom:0;
}
.navbar {
  border-radius:0px;
}

.alert.alert-danger {
  position:relative;
  top:-30px;
  text-align:center;
  margin:10px;
  margin-top:0;
}

.table-fade{
}





.sign-in-container {
  .form_container input{
    font-size: 18px;
    margin-bottom:12px;
    height: 40px;
  }
  .form_container label{
    font-size: 16px;
    text-align: right;
  }
  .form_container button{
    font-size: 18px;
    width: 100px;
    height: 40px;
  }
  .sign-up{
    text-align: left;
    margin-left:-12px;
  }
  .sign-in-header {
    padding-top:0px;
    line-height:1px;
    margin-top:-20px;
    margin-bottom:20px;
  }
}

.admin-container {
  #addUserForm {
    .col-md-3 {
      padding-left:10px;
      padding-right:0;
    }
    .col-md-4 {
      padding-left:10px;
      padding-right:0;
    }
    .col-md-1 {
      padding-left:10px;
      padding-right:0;
    }
  }
}

.settings-container{
  input {
    margin-bottom:10px;
  }
}

.comments-container {
  padding: 25px;
  padding-top:0;
  min-height:360px;

  .comment-text{
    background:#fff0 !important;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
    color:#555;
  }

  li {
    margin-top:10px;
    &:first-child {
      margin-top:0px;
    }
  }

  li.ui-state-default:last-child{
    border-bottom:none;
  }

  .btn,.form-control,.well {
    border-radius:3px;
    box-shadow:0 0 0;
  }

  .form-control {
    border-color:#d7d7d7;
  }

  .btn-primary {
    border-color:transparent;
  }

  .btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
  }

  .btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
  }

  hr {
    border-color:#ececec;
  }

  button {
    outline: 0;
  }

  .btn span{
    color:#666666;
  }

  .list-group-item:first-child,.list-group-item:last-child {
    border-radius:0;
  }

  h3 {
    border:0 solid #efefef;
    border-bottom-width:1px;
    padding-bottom:10px;
  }
}

/********************************************************************/


.panel-customer > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-customer {
  border-color: #2E3032;
  .panel-body {
    padding: 2px 17px;
  }
}

.sales-tracker-container{
  h2, h1{
    margin-top:4px;
    margin-bottom:20px;
  }

  .equal-columns-container {
    overflow: hidden;
  }
  .equal-column {
    min-height: 600px;
    padding: 12px;
    border:solid 10px #2E3032;
    border-radius:20px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

  }


  .count-container {
    text-align:center;
    background-color:#2B708C;
    border-radius:5px;
    border:solid 2px white;
    padding:5px;
    color:white;
    span {
      font-size:15px;
    }
    &:first-child{
      margin-left:0;
    }
  }
  #comments_count{
    background-color:#880014;
  }
  #locations_count{
    background-color:#DEA80A;
  }
  #communications_count{
    background-color:#4143B8;
  }




  .customer-navigation-stop.active-customer-nav:focus {
    border-color: rgba(254,202,68, 0.9);
    box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.075) inset, 0 0 8px 5px rgba(254,202,68, 0.6);
    outline: 0 none;
  }

  .tab-bottom .col-md-3{
    padding:0 10px;
  }


  .tab-background {
    height:50px;
    background:#F5F5F5;
    padding-top:10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:solid #2E3032 10px;
    border-top:none;
  }

  .customer-tabs-container{
    li a:hover{
      background-color:transparent;
    }
    &:focus{
      padding:4px;
      li.active {
        a {
          border-width:2px;
          border-color: rgba(82,168,236,.8);
          border-radius:5px;
        }
      }
    }
  }

  .connected-sortable{
    min-height:500px;
  }
  .panel{
    margin-bottom:4px;
  }
  .customer-info-container {
    button.customer-info-cancel {
      position:absolute;
      top:82px;
      left:65px;
    }
    .existing-customer-info{
      padding:25px 50px;
      button.toggle-contact-form, button.toggle-location-form {
        position:absolute;
        top:96px;
        left:65px;
      }
    }

    .customer-info-table {
      thead tr {

        background-color:#ACD2E3;
        color: #000
      }
      tbody tr.even {
        background-color: #DCF2F9;
      }
      tbody tr.odd {
        background-color: #FFF;
      }
      td span.glyphicon{
        font-size: 20px;
        margin-right:5px;
      }
    }

    .existing-locations, .existing-contacts, .existing-communications{

      .animated.ng-hide-remove {
        -webkit-animation-delay: 300ms;
        animation-delay: 300ms;
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }
      .animated.ng-hide-add {
        -webkit-animation-duration: 0ms;
        animation-duration: 0ms;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
      }
    }

    #location-add{
      background-color:#DEA80A;
      border-color:#C59300;
    }
    #locations-table {
      thead tr {
        background-color:#FFECBE;
        color: #000
      }
      tbody tr.even {
        background-color: #FFF8E7;
      }
    }

    #communication-add{
      background-color:#4143B8;
      border-color:#3B3DA8;
    }
    #communications-table {
      thead tr {
        background-color:#B2BAE6;
        color: #000
      }
      tbody tr.even {
        background-color: #E9EDFE;
      }
    }

    .new-customer-info-form  {
      min-height:400px;
      width:500px;
      margin: 0 auto;
      margin-top:40px;

      .form-group {
        margin-bottom:8px;
      }
      h2 {
        margin-bottom:25px;
      }
      &.animated.ng-hide-add {
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
      }
      &.animated.ng-hide-remove {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }
    }

    button.animated.ng-hide-add{
      -webkit-animation-delay: 10ms;
      animation-delay: 10ms;
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut;
      -webkit-animation-duration: 200ms;
      animation-duration: 200ms;
    }

    button.animated.ng-hide-remove{
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
    }


  }





}


